* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color-black: #666;
  --primary-color-white: #fff;
  --accent-color: #fe653d;
  --star-color: #feb33d;
  --background-rating-color: #eff8f7;
  --background-overlay: rgba(0, 0, 0, 0.3);
  --padding-medium: 16px;
  --padding-large: 20px;
  --padding-small: 14px;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-color-black);
}
.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var();
}

nav {
  /* height: 150px; */
  display: flex;
  /* background-color: var(--accent-color); */
  /* padding: var(--navbar-padding); */
  /* align-items: center; */
  padding-inline: 40px;
  justify-content: space-around;
  border-bottom: 2px solid var(--accent-color);
}
.logo {
  display: inline-block;
  margin-block: 20px;
  max-width: 130px;
}
.navbar-left,
.navbar-right {
  display: flex;
  min-width: max-content;
  width: auto;
}
.navbar-left {
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.rating-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.rating-link {
  color: var(--accent-color);
}
.rating-link:hover {
  text-decoration: underline;
}
.navbar-right {
  flex-direction: column;
}
.star svg {
  fill: var(--star-color);
  width: 18px;
  height: 18px;
}
.star-container {
  display: flex;
}
.info-box {
  display: flex;
  background-color: var(--accent-color);
  /* align-items: center; */
  justify-content: space-around;
  min-height: 40px;
  min-width: 300px;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  gap: 1rem;
}
.info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--primary-color-white);
  color: var(--primary-color-white);
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.search-box {
  min-width: 300px;
  background-color: red;
}
.search-label {
  position: relative;
}
.lucide-search-icon {
  position: absolute;
  color: var(--accent-color);
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}
.search-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  caret-color: var(--accent-color);
}
.search-input::placeholder {
  color: var(--accent-color);
}
nav svg {
  width: 16px;
  height: 16px;
  fill: var(--primary-color-white);
}
.action-links {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--accent-color);
  font-weight: 700;
}
.hero {
  position: relative;
  padding: 0;
}
.hero img {
  max-width: none;
  width: 100%;
}
.hero-content {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  margin: 15px;
}
.hero-content h1 {
  color: var(--primary-color-white);
  font-size: 3.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.hero-content button {
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-color-white);
  padding: calc((6 / 16) * 1rem) calc((40 / 16) * 1rem);
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.hero-info {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  background-color: var(--primary-color-white);
  border: 2px solid var(--accent-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
.hero-info-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  min-width: max-content;
  align-items: center;
}
.hero-info-content h1 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin: 0;
  /* line-height: 1; */
  /* display: flex; */
  /* align-items: center; */
}

.hero-info-content-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}
.hero-info-content-item svg {
  width: 20px;
  height: 20px;
  stroke: var(--accent-color);
}

.view-tour-link {
  background-color: var(--accent-color);
  color: var(--primary-color-white);
  padding: 0.5rem;
  min-width: max-content;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
main section{
  padding-block: 70px;
}
.tour-type {
  padding: 2rem;
}
.tour-type h1 {
  text-align: center;
  color: var(--accent-color);
  margin: 1rem;
}
.tour-type-content{
  display: flex;
  justify-content: center;
}
.grid-container {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.card {
  border-block: 2px solid var(--accent-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.card-image {
  position: relative;
}
.bike {
  background-color: var(--accent-color);
  padding: 0.1rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 0;
}
.bike .icon-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid var(--primary-color-white);
}
.bike svg {
  width: 20px;
  height: 20px;
  stroke: var(--primary-color-white);
}
.card-content {
  padding: 2rem;
}
.card-content h1 {
  font-size: 1.2rem;
  text-align: center;
}
.card-content p {
  font-size: 0.8rem;
  max-width: 25ch;
}
.collection {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.scroller {
  max-width: 1400px;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.scroll-content {
  position: relative;
  flex-shrink: 0;
  border-block: 1px solid var(--accent-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.scroll-content img {
  max-height: 180px;
}
.collection-content {
  background-color: var(--primary-color-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0.5rem;
}
.collection h1{
  margin-bottom: 20px;
}
.collection-content p {
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  background-clip: text;
  color: transparent;
  font-size: 1.35rem;
  text-align: center;
}
.new-and-featured-tour {
  padding: 70px 0;
}
.new-and-featured-tour .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
.new-and-featured-tour h1 {
  text-align: center;
  margin-block: 1rem;
}
.new-and-featured-tour .card .card-image {
  position: relative;
}
.new-and-featured-tour .card .card-content {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-overlay);
  padding-inline: 1rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.new-and-featured-tour .card .card-content p {
  color: var(--primary-color-white) !important;
}
.new-and-featured-tour .card .card-content .card-description p {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 600;
}
.star-container svg {
  fill: var(--star-color);
  width: 15px;
  height: 15px;
}
.card-offer {
  color: var(--primary-color-white);
}
.card-rating-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.card-bottom {
  padding: 1rem;
}
.card-bottom p {
  font-size: 0.8rem;
  margin-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow:hidden;
  line-height: 1.6;
}
.card-bottom .card-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-bottom-content a {
  background-color: var(--accent-color);
  color: var(--primary-color-white);
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0.2rem;
}
.card-bottom-info .icon-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card-bottom-info em {
  color: #cbcbcb;
  font-size: 13px;
}
.icon-box {
  border: 1px solid var(--accent-color);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-wrapper {
  background-color: var(--accent-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.icon-wrapper svg {
  stroke: var(--primary-color-white);
  width: 18px;
  height: 18px;
  color: var(--primary-color-white);
}
.quotes {
  display: flex;
  justify-content: center;
  background-color: var(--background-rating-color);
  padding: 70px 0;
}
.quotes-container {
  margin: 30px 30.5px 0;
  padding: 0px 40px;
}
.quotes-description {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.quotes-description h2 {
  margin: 0 0 20px;
  font-size: 35px;
}
.quotes-content {
  margin: 0 120px;
}
.quotes-marks-left {
  left: 340px;
  position: absolute;
  transform: rotate(180deg);
}
.quotes-marks-left svg {
  fill: black;
  width: 16px;
  height: 18px;
}
.quotes-marks-right {
  right: 340px;
  position: absolute;
}
.quotes-marks-right svg {
  fill: black;
  width: 16px;
  height: 18px;
}
.quotes-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.rating-star {
  display: flex;
  gap: 10px;
}
.quotes-rating small {
  color: var(--accent-color);
}
.about-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 180.5px;
  padding: 70px 40px;
}

.about-container h2 {
  font-size: 35px;
  padding: 0 0 30px;
}
.about-description {
  text-align: left;
  align-self: center;
}
.about-description p {
  margin: 20px 0;
}
.destination {
  padding: 0 0 70px;
}
.destination-container {
  text-align: center;
  margin: 0 30.5px;
  padding: 0 40px;
}
.destination-container h2 {
  margin: 0 0 40px;
  font-size: 35px;
}
.country-box {
  display: flex;
  justify-self: center;
  justify-content: space-between;
}
.destination-country {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-right: 20px;
  width: 170px;
  font-size: 16px;
  gap: 10px;
  color: var(--accent-color);
}
.sponsorship{
  padding: 0;
}
.sponsorship-container {
  display: flex;
  padding: 70px 0px;
  background-color: var(--background-rating-color);
  justify-content: center;
  align-items: center;
}
.sponsorship-logo {
  padding: 0 0 0 40px;
}
.footer-1 {
  background-color: #222222;
  padding: 70px 0;
  display: flex;
  /* max-width: 100vw;
  max-height: 5354px; */
  justify-content: center;
}
.footer-1 .box {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 40px;
}
.box img {
  margin: 60px 0 0;
  min-width: 150px;
  max-height: 60px;
  transform: translate(-50%,0);
}
.footer-1 div a {
  color: var(--primary-color-white);
}
.footer-1 div h4 {
  color: var(--accent-color);
}
.h4-Top {
  margin: 10px 0;
}
.h4-Bottom {
  margin: 20px 0 10px;
}
.footer-1 small {
  color: #999999;
  margin: 10px 0;
}
.subrec-content {
  display: flex;
  flex-direction: column;
}
.subrec-input {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.subrec-input input {
  max-width: 127.5px;
  min-height: 40px;
  border-radius: 5px;
}
.subrec-content input {
  padding: 0 10px;
}
.subrec-email{
  display: flex;
  position: relative;
}
.subrec-email input{
   border-radius: 5px 0 0 5px;
   border: none;
   min-height: 40px;
}
.subrec-email button{
  background-color: var(--accent-color);
  border-radius: 0 5px 5px 0;
  border: none;
  min-width: 75px;
}
.subrec-email svg{
  stroke: var(--primary-color-white);
}
.contact-us-content div{
  display: flex;
   gap: 10px;
}
.contact-us-content svg{
  fill: #999999;
  max-width: 16px;
  max-height: 16px;
}
.contact-us-content span{
  color: var(--primary-color-white);
}
.social{
  display: flex;
  max-width: 270px;
  max-height: 39px;
  gap: 7px;
}
.social svg{
  fill: var(--primary-color-white);
  max-width: 26px;
  max-height: 27px;
}
.footer-2{
  background-color: black;
  padding: 30px 0;
  color: #999999;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid var(--primary-color-white);
}
.footer-2 div{
  padding: 0 0 0 40px;
  font-size: 14px;
}
.footer-2 .box{
  display: flex;
  gap: 20px;
}